@model IEnumerable<WebApplication4.Models.Department>
@using WebApplication4.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Add New Department", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th></th>
    </tr>

@foreach (Department department in Model) {
    <tr>
        <td>

            @Html.ActionLink(department.DepartmentName, "EmployeeDepartment", "Employee", new { departmentID = department.DepartmentID }, null)
        </td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id=department.DepartmentID }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=department.DepartmentID })
        </td>
    </tr>
}

</table>
